<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CRM</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="master">
            <header>
                <h1 id="logo">
                    <a href="index.html"><%= image_tag 'logo.png', :alt => 'Частный репетитор' %></a>
                </h1>
                <ul class="userbox">
                    <li><a href="#" class="current"><span class="txt">Максим Алексеев</span></a></li>
                    <li><a href="#"><span class="txt">Кабинет</span></a></li>
                    <li><a href="#" title="Настройки"><img src="img/icon-settings.png" alt=""/></a></li>
                </ul>
                <nav>
                    <div class="search-wrap">
                        <form action="">
                            <fieldset class="search-line">
                                <input type="text" placeholder="Глобальный поиск"/>
                                <input type="image" src="img/search.gif" alt="поиск"/>
                                <span class="arr"></span>
                            </fieldset>
                            <fieldset class="search-big">
                                <ul class="search-result">
                                    <li><a class="main-style" href="#">
                                        <span class="icon-sm-student"></span>
                                        <span class="txt">Алексеев Максим</span>
                                    </a></li>
                                    <li><a class="main-style" href="#">
                                        <span class="icon-sm-student"></span>
                                        <span class="txt">Алексеева Алла</span>
                                    </a></li>
                                    <li><a class="main-style" href="#">
                                        <span class="icon-sm-teacher"></span>
                                        <span class="txt">Алексеев М. В.</span>
                                    </a></li>
                                </ul>
                                <ul class="search-area">
                                    <li><a class="main-style current" href="#"><span class="txt">Везде</span></a></li>
                                    <li><a class="main-style" href="#"><span class="txt">Заявки</span></a></li>
                                    <li><a class="main-style" href="#"><span class="txt">Преподаватели</span></a></li>
                                    <li><a class="main-style" href="#"><span class="txt">Клиенты</span></a></li>
                                    <li><a class="main-style" href="#"><span class="txt">Договоры</span></a></li>
                                </ul>
                            </fieldset>
                        </form>
                        <ul class="nav">
                            <li><a href="#" title="Заявки"><span class="icon-sm-tag"></span></a>
                                                           </li>
                            <li><a class="payment-item" href="#" title="Оплата"><span class="icon-sm-dollar"></span></a>
                            </li>
                            <li><a class="client-item" href="#" title="Клиенты"><span class="icon-sm-student"></span></a>
                            </li>
                            <li><a href="#" title="Преподаватели"><span class="icon-sm-teacher"></span></a></li>
                            <li>
                                <a class="task-item" href="#"><span class="icon-sm-call"></span></a>
                                <ul class="extra-menu">
                                    <li><a href="#" class="main-style"><span class="txt">Все задачи</span></a></li>
                                    <li><a href="#" class="main-style"><span class="txt">Добавить задачу</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header><div class="clearer"></div>
            <div class="content">
                <div class="col-1">
                    <div class="prs-name">
                        <p><img src="http://placehold.it/42x42/" alt=""></p>
                            <p class="bold">Максим<br/>Алексеев</p>
                            </div>
                    <ul class="ctrl-panel">
                        <li>
                            <a href="#">
                                <span class="icon-sm-catalog-dis"></span>
                                <span class="txt">Кабинет</span>
                            </a>
                        </li>
                        <li>
                            <a href="tasks.html">
                                <span class="icon-sm-call"></span>
                                <span class="txt">Задания</span>
                                <span class="arr"></span>
                                <span class="amt important">12</span>
                            </a>
                            <ul>
                                <li><a href="#">
                                    <span class="txt">На очереди</span>
                                    <span class="amt all">6</span>
                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Порученные</span>
                                    <span class="amt all">3</span>
                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Выполненные</span>
                                    <span class="amt extra">233</span>
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="tasks.html">
                                <span class="icon-sm-tag"></span>
                                <span class="txt">Заявки</span>
                                <span class="arr"></span>
                                <span class="amt important">12</span>
                            </a>
                            <ul>
                                <li><a href="#">
                                    <span class="txt">Новые</span>
                                    <span class="amt tag">18</span>                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Мои в работе</span>
                                    <span class="amt important">18</span>
                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Пробный урок</span>
                                    <span class="amt important">8</span>
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="tasks.html">
                                <span class="icon-sm-reports-dis"></span>
                                <span class="txt">Обучение</span>
                                <span class="arr"></span>
                                <span class="amt important">12</span>
                            </a>
                            <ul>
                                <li><a href="#">
                                    <span class="txt">Обучение</span>
                                    <span class="amt tag">18</span>                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Текущее</span>
                                    <span class="amt important">18</span>
                                </a></li>
                                <li><a href="#">
                                    <span class="txt">Продление</span>
                                    <span class="amt important">8</span>
                                </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="card-list.html">
                                <span class="icon-sm-student"></span>
                                <span class="txt">Преподаватели</span>

                            </a>
                        </li>
                        <li>
                            <a href="tasks.html">
                                <span class="icon-sm-reports-dis"></span>
                                <span class="txt">Отчеты</span>

                            </a>
                        </li>
                    </ul>
                    <div class="section">
                        <h2>Клиент: Алексеев М.В.</h2>
                        <ul class="ctrl-panel">
                            <li>
                                <a href="#">
                                    <span class="icon-sm-reports-dis"></span>
                                    <span class="txt">Общая информация</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon-sm-reports-dis"></span>
                                    <span class="txt">Обучение</span>
                                    <span class="amt tag">1</span>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon-sm-dollar"></span>
                                    <span class="txt">Оплаты</span>
                                    <span class="amt tag">3</span>
                                    <span class="amt important">1</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon-sm-teacher-dis"></span>
                                    <span class="txt">Коммуникации</span>
                                    <span class="arr"></span>
                                </a>
                                <ul>
                                    <li><a href="#">
                                        <span class="txt">На очереди</span>
                                        <span class="amt all">6</span>
                                    </a></li>
                                    <li><a href="#">
                                        <span class="txt">Порученные</span>
                                        <span class="amt all">3</span>
                                    </a></li>
                                    <li><a href="#">
                                        <span class="txt">Выполненные</span>
                                        <span class="amt extra">233</span>
                                    </a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div><!--.col-1-->
                <div class="col-3">
                    <div>
                        <div class="r-block">
                            <h3>
                                <span class="icon-block icon-sm-infinity"></span>
                                <span class="txt">Последние действия</span>
                                <a href="#" class="more">Все</a>
                            </h3>
                            <div class="r-item">
                                <span class="icon-block icon-sm-teacher"></span>
                                <span class="icon-status icon-sm-horribbon"></span>
                                <div>
                                    <p>Новый преподаватель
                                    <a class="main-style" href="#"><br><span class="txt">Максим Валерьевич (математика)</span></a></p>
                                    <p class="time">20 минут назад</p>
                                </div>
                            </div><!--.r-item-->

                            <div class="r-item">
                                <span class="icon-block icon-sm-contracts"></span>
                                <div>
                                    <p>Создан договор
                                    <a class="main-style" href="#"><br><span class="txt">ИО 2012-00100 (Алексеев М.В.)</span></a></p>
                                    <p class="time">20 минут назад</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-dollar"></span>
                                <div>
                                    <p>Добавлена оплата
                                    <a class="main-style" href="#"><br><span class="txt">37 500 рублей (30 уроков)</span></a></p>
                                    <p class="time">20 минут назад</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-teacher"></span>
                                <div>
                                    <p>Добавлен преподаватель<br/>
                                    <a href="#">Михаил Петрович</a></p>
                                    <p class="time">5 минут назад</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-tag"></span>
                                <div>
                                    <p>Создана заявка</p>
                                    <a href="#">Михаил (физика)</a></p>
                                    <p class="time">5 минут назад</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-tag"></span>
                                <div>
                                    <p>Пробное занятие</p>
                                    <a href="#">Михаил (физика)</a></p>
                                    <p class="time">5 минут назад</p>
                                </div>
                            </div><!--.r-item-->
                        </div><!--.r-block-->
                        <div class="r-block">
                            <h3>
                                <span class="icon-block icon-sm-call"></span>
                                <span class="txt">Текущие задания</span>
                                <a href="#"  class="more">Все</a>
                            </h3>
                            <div class="r-item">
                                <span class="icon-block icon-sm-tag"></span>
                                <div>
                                    <p>Организовать обучние</p>
                                    <a href="#">Михаил (физика)</a></p>
                                    <p class="delayed-txt">23.10.2010</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-tag"></span>
                                <div>
                                    <p>Пробное занятие (результаты)</p>
                                    <a href="#">Михаил (физика)</a></p>
                                    <p class="delayed-txt">23.10.2010</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-contracts"></span>
                                <div>
                                    <p>Подготовить договор
                                    <a class="main-style" href="#"><br><span class="txt">Максим (математика)</span></a></p>
                                    <p class="delayed-txt">23.01.2010</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item">
                                <span class="icon-block icon-sm-dollar"></span>
                                <div>
                                    <p>Проверить оплату
                                    <a class="main-style" href="#"><br><span class="txt">37 500 рублей (30 уроков)</span></a></p>
                                    <p class="delayed-txt">23.01.2010</p>
                                </div>
                            </div><!--.r-item-->
                            <div class="r-item action">
                                <span class="icon-block icon-sm-call"></span>
                                <p><a href="#" class="bold">Добавить задание</a></p>
                            </div><!--.r-item-->
                        </div><!--.r-block-->
                    </div>
                </div><!--.col-3-->

                <div class="col-2">
                    <div class="profile">
                        <div class="profile-info">
                            <div class="block">
                                <h2>Алексеев Максим Валерьевич <span class="icon-sm-male"></span></h2>
                                <p>Физическое лицо</p>
                                <p>Дата рождения: 12.10.1978</p>
                            </div>
                            <div class="block">
                                <h4><span class="txt">Контакты</span></h4>
                                <p><span class="txt">+79027892348 (<a href="#">отправить смс</a>)</span>;<span class="icon-sm-phone"></span></p>
                                <p><span class="txt">+79027892348 (<a href="#">отправить смс</a>)</span>;<span class="icon-sm-phone"></span></p>
                                <p><a href="#" class="main-style"><span class="txt">alexeev@private-tutor.ru</span></a><span class="icon-sm-email"></span></p>

                            </div>

                            <div class="block">
                                <h4><span class="txt">Адрес проживания</span></h4>
                                <p>Адрес проживания: г. Москва, Кремль, Кремлевская набережная, д.1, квартира "Кремль"</p>
                                <p><a href="#" class="main-style"><span class="txt">на карте</span></a></p>
                            </div>
                            <div class="block">
                                <h4><span class="txt">Скидки</span></h4>
                                <p>Рекомендуемый размер скидки &mdash; 10%</p>
                                <p><a href="#" class="main-style"><span class="txt">Условия предоставления скидки</span></a></p>
                                <p>Программа лояльности &mdash; номер карты 1023</p>
                            </div>

                        </div>
                        <div class="profile-photo">
                            <p>Карта:<img src="http://placehold.it/170x170/"></p>
                                <p><a href="#" class="main-style"><span class="txt">Изменить информацию</span></a></p>

                                <p><a href="#" class="main-style"><span class="txt">Добавить обучение</span></a></p>
                                <p><a href="#" class="main-style"><span class="txt">Добавить оплату</span></a></p>
                                </div>
                    </div><!--.profile-->
                    <div class="tasks">
                        <h3><span class="txt">Комментарии</span></h3>
                        <br><br>
                        Пока верстки нет (реализация как в текущей CRM)
                        <br><br><br>
                    </div><!--.comments-->
                    <div class="tasks">
                        <h3><span class="txt">Задания</span></h3>
                        <ul class="ctrl-panel">
                            <li class="active">
                                <a href="#">
                                    <span class="txt">Просроченные</span>
                                    <span class="amt important">2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="txt">Все</span>
                                    <span class="amt all">43</span>
                                </a>
                            </li>
                        </ul>
                        <div class="item standart">
                            <div class="wrap">
                                <p class="icon-big-phone"></p>
                                <div>
                                    <p class="title"><b>Звонок клиенту</b>. Результат пробного урока?</p>
                                    <p>
                                    <a href="#" class="main-style"><span class="icon-sm-student"></span><span class="txt">Имя клиента</span></a>
                                    <a href="#" class="main-style"><span class="icon-sm-tag"></span><span class="txt">Заявка: математика, сокол</span></a>
                                    <a href="#" class="main-style"><span class="icon-sm-teacher"></span><span class="txt">Имя преподавателя</span></a>
                                    </p>
                                    <p>
                                    <span class="date">
                                        <span class="icon-sm-call-dis"></span>
                                        <span class="txt"><span class="delayed-txt" style="color:green">выполнить &mdash; 28.09.2011</span>; создано 27.09.2011 в 00:03 </span>
                                    </span>
                                    <span class="actions">
                                        <a class="main-style" href="#"><span class="txt">Редактировать</span></a>&nbsp;&mdash;&nbsp;
                                        <a class="main-style" href="#"><span class="txt">Удалить</span></a>
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div><!--.item-->
                        <div class="item delay priority">
                            <div class="wrap">
                                <p class="icon-big-phone"></p>
                                <div>
                                    <p class="title">Звонок клиенту. Результат пробного урока?</p>
                                    <p>
                                    <a href="#" class="main-style"><span class="icon-sm-student"></span><span class="txt">Имя клиента</span></a>
                                    <a href="#" class="main-style"><span class="icon-sm-tag"></span><span class="txt">Номер заявки</span></a>
                                    <a href="#" class="main-style"><span class="icon-sm-teacher"></span><span class="txt">Имя преподавателя</span></a>
                                    </p>
                                    <p>
                                    <span class="date">
                                        <span class="icon-sm-call-dis"></span>
                                        <span class="txt"><span class="delayed-txt">просрочено &mdash; 24.02.2010</span>; создана 24.09.2012 в 09:48 </span>
                                    </span>
                                    <span class="actions">
                                        <a class="main-style" href="#"><span class="txt">Редактировать</span></a>&nbsp;&mdash;&nbsp;
                                        <a class="main-style" href="#"><span class="txt">Удалить</span></a>
                                    </span>
                                    </p>
                                </div>
                            </div>
                            <span class="icon-status icon-sm-ribbon"></span>
                        </div><!--.item-->
                    </div><!--.tasks-->
                    <div class="applications">
                        <h3><span class="txt">Заявки</span></h3>
                        <ul class="ctrl-panel">
                            <li>
                                <a href="#">
                                    <span class="txt">Все</span>
                                    <span class="amt all">6</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <span class="txt">Опция</span>
                                    <span class="amt all">6</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="txt">Опция</span>
                                    <span class="amt extra">56</span>
                                </a>
                            </li>
                        </ul>
                        <div class="item standart">
                            <div class="wrap">
                                <p class="icon-big-portfolio"></p>
                                <div>
                                    <p class="title">Математика, Подготовка к ЕГЭ (11 класс), 5 звезд</p>
                                    <p class="short-view">Номер заявки: 01298766</p>
                                    <p class="short-view">
                                    <a href="#" class="main-style"><span class="icon-sm-student"></span><span class="txt">Алексеев Максим Валерьевич</span></a>
                                    <a href="#" class="main-style"><span class="icon-sm-tag"></span><span class="txt">Алексеев М. В.</span></a>
                                    </p>
                                    <dl class="big-view">
                                        <dt>Номер заявки: </dt>
                                        <dd>0938484</dd>
                                        <dt>Клиент: </dt>
                                        <dd><a href="#" class="main-style"><span class="icon-sm-student"></span><span class="txt">Алексеев Максим Валерьевич</span></a></dd>
                                        <dt>Территория: </dt>
                                        <dd>Выезд преподавателя (м. Сокол)</dd>
                                        <dt>Менеджер: </dt>
                                        <dd>Глебова В. А.</dd>
                                        <dt>Преподаватель: </dt>
                                        <dd class="pad"><a href="#" class="main-style"><span class="icon-sm-teacher"></span><span class="txt">Алексеев Максим Валерьевич</span></a></dd>

                                        <dt>Длительность урока: </dt>
                                        <dd>90 минут</dd>
                                        <dt>Стоимость: </dt>
                                        <dd>1630 рублей</dd>
                                        <dt>Пробный урок: </dt>
                                        <dd class="pad">12.06.2011</dd>

                                        <dt>Заданий: </dt>
                                        <dd>5</dd>
                                        <dt>Комментариев: </dt>
                                        <dd class="pad">10</dd>
                                    </dl> <!--.big-view-->
                                    <p>
                                    <span class="date">
                                        <span class="icon-sm-tag"></span>
                                        <span class="txt">Создано 30.03.2012 &mdash; Выполнить: 02.04.2012</span>
                                    </span>
                                    <span class="actions">
                                        <a class="main-style" href="#"><span class="txt">Редактировать</span></a>&nbsp;&mdash;&nbsp;
                                        <a class="main-style" href="#"><span class="txt">Удалить</span></a>
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div><!--.item-->
                    </div><!--.applications-->
                    <div class="payment">
                        <h3><span class="txt">Оплата</span></h3>
                        <p class="nothing">Оплат нет</p>
                    </div>
                    <div class="added"><span class="icon-sm-student-dis"></span><span class="txt">Добавлен 21.09.2010</span></div>
                </div><!--.col-2-->
            </div>
        </div>
    </body>
</html>
